@{
    ViewBag.Title = "Контакты";
}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-5">Для связи с представителями книжного интернет-магазина можете обратиться следующими способами: </h1>
        <hr />
        <p class="lead">
            Номер телефона: 89130881378. <br/>
            Электронная почта: ermol@yahoo.com
        </p>
    </div>
</div>