@{
    ViewBag.Title = "Сотрудничество";
}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-5">Есть предложения?</h1>
        <hr />
        <p class="lead">
            Если вы хотите связаться с нами по поводу размещении своей книги в нашем магазине, можете обратиться по следующему адресу:
            somemail@gmail.com
        </p>
    </div>
</div>